:root{
  --main-color: #ff702a;
  --bg-color: #1e1c2a;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  box-shadow: 0 0 10px #ddd inset;
}
::-webkit-scrollbar {
  width: 15px;
}
::selection{
  background-color: var(--main-color);
  color: white;
}
.container{
    padding-left: 5px;
    padding-right: 5px;
    margin-left:auto;
    margin-right:auto;
  }
  @media (max-width:3000px)  {
    .container {
      width: 1170px;
    }
  }
  @media (max-width:1199px)  {
    .container {
      width: 970px;
    }
  }
  @media (max-width:991px) {
    .container {
      width: 750px;
    }
  }
  @media (max-width:776px) {
    .container {
      width: 100%;
    }
  }
  body{
    background-color: var(--bg-color);
  }
  /* Start Header  */
  header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 30px;
    background-color: var(--bg-color);
}
  header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }header .title a{
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
  }
  header ul{
    display: flex;
  }
  header li a{
    font-size: 20px;
    padding: 0 20px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header li a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transform: translateY(-50%);
    bottom: -3px;
    transition: 0.6s;
  }
  header li:hover a::before{
    width: 100%;
  }
  /* End Header  */
  /* Start main-page  */
  .main-page{
    padding: 80px 0;
  }
  .container .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .image img{
    width: 500px;
    margin-top: 20px;
  }
@media (max-width:767px){
  .content{
    flex-direction: column;
  }
  .content .text strong{
    font-size: 30px !important;
  }
  .main-page .content img{
    display: none;
  }
  .about-page .container{
    margin-top: 50px;
  }
  .content {
    text-align: center;
  }
  .content .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  .container .image img{
    width: 250px;
  }
  .about-page .content{
    flex-direction: column-reverse;
  }
}
  .container .text strong{
    font-size: 40px;
    color: var(--main-color);
    font-weight: bold;
  }
  .container .text p{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    line-height: 1.5;
    font-weight: 400;
  }
  .container .text .bottom{
    background-color: var(--main-color);
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 15px;
  }
  .container .text .bottom a{
    color: white;
    font-size: 20px;
    letter-spacing: 1.3px;
  }
  .container .text .bottom:hover{
    background-color: rgb(255 112 42 / 80%);
    transition: 0.3s;
  }
  /* End main-page  */
  /* Start About Page  */
.about-page{
  padding: 80px 0;
}
h2{
  color: white;
  border: 3px solid white;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 15px;
  position: relative;
}
h2::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
  right: -30px;
}
h2::after{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
  left: -30px;
}
.about-page .container strong{
  color: white;
  font-size: 30px;
  line-height: 1.3;
}
.about-page .container p{
  color: #ddd;
  font-size: 14px;
  width: 380px;
}
  /* End About Page  */
  /* Start menu-page  */
  .menu-page .container{
    display: flex;
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .menu-page .container .box{
    background-color: #eee;
    margin: 0 10px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .menu-page .container .box strong{
    margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  }
  .menu-page .container .box p:not(:last-of-type){
    margin: 7px 0;
  color: #333;
  }
  .menu-page .container .box p:last-of-type{
    margin: 10px 0;
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  }
  .menu-page .box .image {
    width: 220px;
    height: 220px;
}
  .menu-page .container .box .image img{
    width: 100%;
  }
  .menu-page .box .icon{
  background-color: var(--main-color);
  border-radius: 0 6px 0 6px;
  display: flex;
  margin-left: auto;
  }
  .menu-page .box i{
    font-size: 20px;
    padding: 4px 8px;
  }
  /* End menu-page  */
  /* Start Services */
  .services-page .container{
    display: flex;
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .services-page .container .box{
    margin: 0 10px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .services-page .box .image {
    width: 100px;
    height: 100px;
}
  .services-page .container .box .image img{
    width: 100%;
  }
  .services-page .container .box strong{
    margin: 30px 0 13px;
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
  }
  .services-page .container .box p{
    color: white;
  text-align: center;
  width: 260px;
  line-height: 1.3;
  }
  /* End Services */
  /* Start contact */
  .contact-page .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    gap: 20px;
  }
  .contact-page .container .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }
  .contact-page form input,
  .contact-page form textarea{
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    background-color: var(--bg-color);
    border-bottom: 1px solid #ccc;
    caret-color: var(--main-color);
    color: white;
  }
  .contact-page textarea {
    resize: none;
    height: 200px;
}
.contact-page form input:focus,
  .contact-page form textarea:focus{
    outline: none;
  }
  .contact-page form ::placeholder{
    color: white;
  }
  .contact-page input:focus::placeholder,
  .contact-page textarea:focus::placeholder {
      opacity: 0;
  }
  .contact-page form input[type="submit"]{
    font-weight: bold;
    background-color: var(--main-color);
    font-size: 16px;
    border: none;
    margin: 10px 0;
    width: 100%;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 6px;
  }
  .contact-page form input[type="submit"]:hover{
    background-color: rgb(255 112 42 / 80%);
  }
  .contact-page .social p{
    font-weight: bold;
    color: var(--main-color);
    font-size: 35px;
    margin: 10px 0;
  }
  .contact-page .social ul{
    display: flex;
  }
  .contact-page .social a{
    padding-left: 35px;
    font-size: 20px;
    color: white;
  }
  @media (max-width:768px){
    .contact-page .container{
      flex-direction: column;
    }
    .contact-page .container p{
      font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    }
    .contact-page .container ul{
      align-items: center;
    justify-content: center;
    }
  }
  /* End contact */
  /* Start Footer  */
.footer{
  background-color: #191919;
  padding: 70px 0 0;
}
.footer .container{
  display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 40px;
color: white;
}
.footer .container .box h3{
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .container .box .social{
  display: flex;
}
.footer .container .box .social li{
  margin: 0 10px 0 0;
}
.footer .container .box .social li .facebook:hover{
  background-color: #1877f2;
}
.footer .container .box .social li .youtube:hover{
  background-color: #ff0000;
}
.footer .container .box .social li .twitter:hover{
  background-color: #1da1f2;
} 
.footer .container .box .social li a{
  background-color: #313131;
  color: #898989;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  position: relative;
}
.footer .container .box p{
  padding: 20px 0;
  line-height: 2;
  color: #b9b9b9;
}
.footer .container .box .links li:not(li:last-child){
  border-bottom: 1px solid #b9b9b9;
}
.footer .container .box .links li{
  padding: 12px 0;
  transition: 0.5s;
}
.footer .container .box .links li:hover{
  padding-left: 10px;
}
.footer .container .box .links li:hover a{
  color: white;
}
.footer .container .box .links li a{
  color: #b9b9b9;
}
.footer .container .box .links li a i{
  color: var(--main-color);
  padding-right: 5px;
}
.footer .container .box .line {
  display: flex;
  justify-content: space-between;
  color: #b9b9b9;
  align-items: center;
  padding: 15px 0;
}
.footer .container .box .line i{
  margin-right: 15px;
  font-size: 25px;
  color: var(--main-color);
}
.footer .container .box .line .info{
  flex: 1;
  line-height: 1.7;
}
.footer .container .box .line span:first-of-type{
  display: block;
}
.footer .container .box img{
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer  */